.par1 {
  background-color: orange;
}

.par2 {
  background-color: blue;
  color: white;
}

.par3 {
  border-style: ridge;
  font-size: 130%;
  font-weight: 100;
  font-family: monospace;
}

.par4 {
  background-color: grey;
  font-size: 110%;
  font-weight: 400;
  font-family: serif;
}
